SECRET_KEY=123
SQLALCHEMY_DATABASE_URI=sqlite:///sqlite.db
UPLOAD_URL=http://localhost:8050

OPENAI_API_KEY=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

REDIS_URI=redis://localhost:6379

PINECONE_API_KEY=16783e9c-d3b8-4105-8689-955a6b6823e4
PINECONE_ENV_NAME=gcp-starter
PINECONE_INDEX_NAME=docs

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=